
#scrollable-1{
    background-size:     cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 1080px;
    height: auto;
    background-image: url("../images/back3.jpg");
}


.page-header{
    color: black;
}

#text {
    padding-top: 128px;
    margin-top: auto;
}

.jumbotron{
    background: rgba(100, 100, 100, 0.8);
    color: white;
    text-shadow: #444 0 5px 5px;
}
.jumbotron div{
    filter:blur(0px);
}

#header h2 {
    padding-top: 0;
}

.jumbotron h1{
    color:white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}