
#scrollable-1{
    background-size:     cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    height: 1080px;
    background-image: url("../images/back3.jpg");
}


.page-header{
    color: black;
}

#text {
    padding-top: 128px;
    margin-top: auto;
}

.jumbotron{
    background: rgba(100, 100, 100, 0.8);
    color: white;
    text-shadow: #444 0 5px 5px;
}
.jumbotron div{
    filter:blur(0px);
}

