/*##################################*/
/*  Styles for recurring elements
/*##################################*/

.jumbotron{
    background: rgba(100, 100, 100, 0.8);
    color: #ffffff;
    text-shadow: #999 0 3px 3px;
}

#jumbotron-container{
    padding-top: 128px;
    margin-top: auto;
    padding-bottom: 256px;
}
* body{
      margin:0;
      padding:0;
    background-color: black;
  }
h2{
    margin: 0;
    color:white;
}


.social-media{
    padding-bottom:10px;
}

.social-media-btn {
    height: 64px;
    width: 64px;
}


.profile-pic {
    width:  256px;
    height: 256px;
    border-radius: 10px;
}

.error {
    color: red;
    font-size: 50%;
}

.invis{
    display: none;
}
