/*##################################*/
/*  Styles for the header elements
/*##################################*/

/*  added by js when the user scrolls down, styles the header-fixed element
    so that it sticks to the top of the viewport, and condenses it    */
.header-sticky {
    width: 100%;
    position: fixed;
    height: 36px;
}

/*changes height and position as the user scrolls   */
#header-fixed {
    height:68px;
    background-color:rgba(100,100,100,.5);
}

/*  contains #header-fixed, remains at a fixed height to prevent
    other content jumping as #header-fixed's height is adjusted     */
#header{
    height:68px;
    width:100%;
    color:white;
}


/*----------------------------------*/
/*  Styles for the dropdown menu button
/*----------------------------------*/

/*  menu-btn = the condensed header
    dropdown-menu button.  Replaces
    .nav-btn's as the window shrinks    */
.menu-btn img{
    background-image: url("../images/menu.png");
    background-size: 32px 32px;
    background-repeat:no-repeat;
    background-position: center;
    height:32px;
}
.menu-btn{
    padding:0px;
    padding-top: 2px;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0,0,0,0);
    text-shadow: none;
    box-shadow: none;
}




/*----------------------------------*/
/*  Styles for the nav buttons
/*----------------------------------*/

/*  nav-btn = buttons in the header, replaced
    by the menu-btn element as the window
    shrinks     */
.nav-btn{
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom:10px;
    background-color: #00068c;
}





.footer{
    background-color:black;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}