.header-sticky {
    width: 100%;
    position: fixed;
    height: 36px;

    z-index: 10000;
}
#header-fixed {
    height:68px;

    z-index: 10000;
    background-color:rgba(100,100,100,.5);
}
#header{
    height:68px;
    width:100%;
    color:white;

    z-index: 10000;
}

#header h2 {
    padding-top: 16px;
}
.menu-btn img{
    background-image: url("../images/menu.png");
    background-size: 32px 32px;
    background-repeat:no-repeat;
    background-position: center;
    height:32px;
}
.menu-btn{
    padding: 0px;
    padding-top: 2px;
    text-shadow: none;
    box-shadow: none;
    width: 68px;
    margin-right: 32px;
}
.menu2{
    margin-left: auto;
    margin-right:auto;
}
.menu-btn:hover{
    background-color: rgba(0, 167, 255, 0.29);

}
.menu-btn .menu2{
    display:none;
}
.menu-btn:hover > .menu1{
    display:none;
}

.menu-btn:hover > .menu2{
    display: block;
}
.nav-btn{
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom:10px;
}
.nav-btn:hover{
    background-color: rgba(0, 167, 255, 0.29);
    color: #acacad;
}
.active-btn{
    background-color: rgba(0, 167, 255, 0.29);
    color: #acacad;
}
.footer{
    background-color:black;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
#nav-compressed ul li{
    text-decoration: none;
}
.dropdown-menu{
    position:relative;
}
.page-header{
    color: black;
}
.social-media-dropdown{
    padding-left:36px;
}
.social-media-dropdown img{
    height: 32px;
    width: 32px;
}
#logo{
    height: 64px;
}
#narrow-dropdown-header{
    padding-top: 10px;
}