
#scrollable-1{
    background-size:     cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 1080px;
    height: auto;
    background-image:url("../images/High-Trestle-Trail-Bridge-30.jpg");

}
#gmap_canvas{
    color: black;
    border-radius: 10px;
}
#map-container{
    overflow:hidden;
    height:600px;
    width:1000px;
    margin:auto;
    box-shadow: 10px 10px 10px #444;
}